<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="display-3">
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://png.pngtree.com/element_our/sm/20180329/sm_5abc881cb2505.png">

<div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">q</div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">w</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">e</div>
      </div>
  <h1 class="display-4">List of Books</h1>
    <ul *ngFor="let book of books">
        <button (click)="deleteBook(book.id)" class="btn btn-danger float-right">x</button>
        <li class="lead">{{book.name}}</li>
          <ul>
            <li class="lead">Author: {{book.author}}</li>
            <li class="lead">Year: {{book.year_released}}</li>
          </ul>
    </ul>  

  <app-add-book></app-add-book>
  <br/>
  
</div>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
<router-outlet></router-outlet>
